{% extends 'based.html'%}

{% block style%}
<link href="/static/css/chat.css" rel="stylesheet">
{% endblock%}

{% block title%}
Medievalution
{% endblock%}

{% block body%}
<div class="row no-gutters">
							<div class="col-md-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Contact Us</h3>
									<div id="form-message-warning" class="mb-4"></div>
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm" novalidate="novalidate">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">{{ form.username.label }}</label>
													<input type="text" class="chat_control " name="name" id="name" placeholder="Name">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="email">{{ form.email.label }}</label>
													<input type="email" class="chat_control" name="email" id="email" placeholder="Email">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">{{ form.subject.label }}</label>
													<input type="text" class="chat_control" name="subject" id="subject" placeholder="Subject">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="message">{{ form.message.label }}</label>
													<textarea name="message" class="chat_control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-5 img" style="background-image: url(/static/images/chat.jpg);">
			          </div>
							</div>
						</div>

{% endblock%}
